<nav class="navbar-fixed-top">
  <nav class="navbar navbar-inner"  data-offset-top="250" id="nav" >
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
        <li><a class="navbar-brand"><img class="img-responsive" src="/assets/logo" height="30px" width="30px" style="margin-top:-10px;"></a></li>        
        <li><b><%= link_to "Rate It", root_path, :class =>"navbar-brand textwhite", data: { no_turbolink: true }
        %></b>
        </li>
      </div> 
      </ul>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          
          <li><%= link_to current_user.email.to_s, edit_user_registration_path, :class => "textwhite" %></li>

          <li><%= link_to "Sign Out", destroy_user_session_path, :class => "textwhite", :method => :delete %></li>

            <% else %>
            
            <li><%= link_to "Sign up", new_user_registration_path, :class => "textwhite" %>   </li>
            <li><%= link_to "Sign In", new_user_session_path, :class => "textwhite" %>   </li>
            <% end %>

          </ul>      
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-default" data-offset-top="250" id="nav">

      <form action = "../pages/search_results" >
        <form class="form-search center" >
          <div class="center">
            <button type="submit" class="btn textwhite" >Search</button>
            <input type="text" class="input-medium search-query" placeholder=" Search any product" width="100px" name="query">
          </div>
        </form>
      </form>

    </nav>
  </nav>