<div class="col-md-10">
	<% 	@product1 = Category.where("subcategories.products._id"=>params[:product1]).one.subcategories.where("products._id"=> params[:product1]).one.products.find(params[:product1]) %>

	<% 	@product2 = Category.where("subcategories.products._id"=>params[:product2]).one.subcategories.where("products._id"=> params[:product2]).one.products.find(params[:product2]) %>

	<div class="row">
		<div class="col-md-5" >
			
			<h2 align="center"><%= link_to @product1.product_name, @product1, :class=>"caption" %></h2>

			<div class="col-md-offset-2">

				<%= link_to (image_tag(@product1.image.url, :class=>"img-responsive", :height => "300px", :width => "300px")), @product1 %>
			</div>

			<div class="col-md-offset-2">
				<div class="row">
					<% if @product1.avg_rating != -1%>

					<div class="col-md-4">
						<%= image_tag(@product1.avg_rating.to_i.to_s,:class=>"img-responsive", :width => "100px", :height => "100px") %>
					</div>

					<div class="col-md-4">
						<h2 style="padding-top:30px;"><%= @product1.avg_rating.to_f.round(1) %></h2>
					</div>

					<% else %>

					<h2 style="padding-top:30px;padding-bottom:45px;">Rating not available.</h2>	

					<% end %>

				</div>
				
				<% @s=Set.new ['price', 'location','specs', 'synopsis','location','rent','rank'] %>
				<ul type="square">
					<% @product1.attributes.each_pair do |name, value| %>
					<% if @s.include? name and value and value != 0.0 and value!="" %>
					<% if name=='specs' %>
					<li> SPECS: </li>
					<ul>
						<% @specs = value.split("\n") %>
						<% for spec in @specs %>
						<li><%= spec %></li>
						<% end %>
					</ul>

					<% elsif name=='price' %>
					<li><%= name.upcase %> : Rs <%= value %></li>					

					<% else %>
					<li><%= name.upcase %> : <%= value %></li>						
					<% end %>

					<% end %>
					<% end %>
				</ul>

			</div>



		</div>

		<div class="col-md-5">
			
			<h2 align="center"><%= link_to @product2.product_name, @product2, :class=>"caption" %></h2>

			<div class="col-md-offset-2">
				<%= link_to (image_tag(@product2.image.url, :class=>"img-responsive", :height => "300px", :width => "300px")), @product2 %>
			</div>

			<div class="col-md-offset-2">
				<div class="row">
					<% if @product2.avg_rating != -1%>

					<div class="col-md-4">
						<%= image_tag(@product2.avg_rating.to_i.to_s,:class=>"img-responsive", :width => "100px", :height => "100px") %>
					</div>

					<div class="col-md-4">
						<h2 style="padding-top:30px;"><%= @product2.avg_rating.to_f.round(1) %></h2>					
					</div>

					<% else %>

					<h2 style="padding-top:30px;padding-bottom:45px">Rating not available.</h2>

					<% end %>
					
				</div>

				<% @s=Set.new ['price', 'location','specs', 'synopsis','location','rent','rank'] %>
				<ul type="square">
					<% @product2.attributes.each_pair do |name, value| %>
					<% if @s.include? name and value and value != 0.0 and value!="" %>
					<% if name=='specs' %>
					<li> SPECS: </li>
					<ul>
						<% @specs = value.split("\n") %>
						<% for spec in @specs %>
						<li><%= spec %></li>
						<% end %>
					</ul>

					<% elsif name=='price' %>
					<li><%= name.upcase %> : Rs <%= value %></li>						


					<% else %>
					<li><%= name.upcase %> : <%= value %></li>						
					<% end %>

					<% end %>
					<% end %>
				</ul>
			</div>	


			
			
		</div>
	</div>
</div>