<h1>add subcategory</h1>

<%= form_for [@category, Subcategory.new] do |f| %>

<p> <%= f.label :subcategory_id %> <%= f.text_field :subcategory_id %> </p>

<p> <%= f.label :subcategory_name %> <%= f.text_field :subcategory_name %> </p>

<p> <%= f.submit %>
<% end %>