
<h1><%= @product._id %></h1>

<%= image_tag(@product.image.url, :width => "300px", :height => "300px") %>
<br>
<%= (@product.added_date + Time.zone_offset('IST')).strftime("%A,%d %B %Y") %>

<% if @product.avg_rating == -1 %>
<h2> Rating not available </h2>
<% else %>
<h2> <%= @product.avg_rating.round(1) %> </h2>
<% end %>
<% if @product.reviews.size > 0 %>

<% for review in @product.reviews %>

<h3> author: <%= review.author %> </h3>
<p> date: <%= (review.review_date + Time.zone_offset('IST')).strftime("%A, %d %B %Y %H:%M:%S") %> </p>
<p> review: <%= review.body %> </p>
<p> rating: <%= review.rating %> </p>

<% #[@category, subcategory] %>
<% end %>
<% end %>

</br>
</br>

<p> write a review </p>
<%= form_for [@product, Review.new] do |f| %>

<p> <%= f.label :author %> <%= f.text_field :author %> </p>

<p> <%= f.label :body %> <%= f.text_area :body %> </p>

<p> <%= f.submit %>

<% end %>
