<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Rate It</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

	<% if notice %>
		<div class="alert alert-info">

		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong><%= notice %></strong>
	</div>

	<% elsif alert %> 	
		<div class="alert alert-info">

		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong ><%= alert %></strong>
	</div>

	<% end %>
	


	<!---<%= flash_messages %>-->

	<%= render '/shared/navbar' %>
	<%= render '/shared/sidebar' %>

	<div class="wrapper">
		<%= yield %>
		<%= render '/shared/footer' %>
	</div>
</body>

</html>
